*{
    font-family: 'Poppins';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* section1 */
.harga1{
    background-image: url('../Asset/Gambar/hrgpupuk.png');
    width: 100%;
    height: 242px;
    background-repeat: no-repeat;
    background-size: cover;
}
.harga1 p{
    color: aqua;
    padding-top: 90px;
}

.harga2{
    background-image: url('../Asset/Gambar/hargaaer.png');
    height: 242px;
    background-repeat: no-repeat;
    background-size: cover;

}

.harga3{
    background-image: url('../Asset/Gambar/hrgpadi.png');
    height: 242px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* section2 */

.bg-green{
    background-color: #9BD770;
}
.txt{
width: 246px;
height: 132px;
left: 732px;
top: 997px;

font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 93%;


color: #375F1B;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}