* {
    font-family: 'Poppins';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #EBF7E3;
}

body{
    height: auto;
    width: auto;
}

/* Nav */
.navbar {
    width: auto;
}
.navbar-brand {
    font-weight: bold;
}

.nav-color {
    background-color: #EBF7E3;
}



.nav-link {
    color: green !important;
}

.nav-link:hover {
    color: #9BD770 !important;
    border-bottom: 1px solid #375F1B;
    transition: all 0.5s;
}




.button-daftar {
    height: 38px;
    width: 126px;
    border-radius: 10px;
    border: none;
    background-color: #9BD770;
    color: #375F1B;
    font-weight: bold;

}

.button-daftar:hover {
    background-color: #375F1B;
    color: #9BD770;
    transition: all 0.5s;
}

.button-masuk {
    border: none;
    background: none;
    color: #375F1B;
    font-weight: bold;
}

.button-masuk:hover {
    color: #9BD770;
    transition: all 0.5s;
}

/* jumbotron */
.hero-background {
    background-image: url("../Asset/Gambar/gambar\ sawah\ LP.png");
    height: 765px;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid {
    display: grid;
}

img {
    width: auto;
}

.tentang{
    width: 99rem;
}

.tentang-background {
    width: 99rem;
    gap: 0rem;
    grid-template-rows: 33rem 4rem 3rem 17rem;
}

.title {
    position: relative;
    text-align: end;
    align-items: center;
    right: 8rem;
}

.sub-title {
    display: block;
    text-align: center;
    font-size: 2rem;
}

.spesial {
    color: mediumseagreen;
}

.description {
    width: 55rem;
    position: relative;
    grid-template-columns: 489px 30rem;
    gap: 29px;
    left: 17.9rem;
}

.paraghp {
    color: forestgreen;
    text-align: justify;
}

.world {
    font-size: 26px;
    color: darkgreen;
}

.jumbobrand {
    font-weight: bold;
    font-size: 96px;
    margin-top: 160px;
    text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
}

.sub-jumbobrand {
    font-size: 64px;
    text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
}

.button-artikel {
    width: 189px;
    height: 57px;
    font-size: 36px;
    color: #375F1B;

    background: #EBF7E3;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
}

.button-caritani {
    width: 189px;
    height: 57px;
    font-size: 36px;
    margin-top: 150px;
    color: #375F1B;

    background: #EBF7E3;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;

}

.button-artikel:hover {
    background-color: #375F1B;
    color: #EBF7E3;
    transition: all 0.5s;
    box-shadow: 0px 13px 4px rgba(2, 201, 22, 0.25);
}

.button-caritani:hover {
    background-color: #375F1B;
    color: #EBF7E3;
    transition: all 0.5s;
    box-shadow: 0px 13px 4px rgba(2, 201, 22, 0.25);
}

.edutani-team {
    align-self: flex-end;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 186px;
    margin-top: 26px;
    min-height: 60px;
    min-width: 299px;
}

.extra-bold-dell-40px {
    color: rgba(55, 95, 27, 1);
    font-size: var(--font-size-xxx1);
    font-weight: 800;

}

.underline {
    text-decoration: underline;
    color: green;
    border-bottom: 3px;
}

.span1 {
    color: #9db770;
}

.green {
    color: green;
}

.paragraph {
    letter-spacing: 0;
    line-height: normal;
    min-height: 276px;
    text-align: justify;
    width: 522px;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxx1);
    font-weight: 700;
    font-style: normal;
}



.visidanmisi {
    color: rgba(27, 52, 9, 0.502);
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
}

.deskripsivisimisi {
    color: var(--dell);
    font-size: 32px;
    font-weight: 800;
    font-style: normal;
}

